footer {
  min-height: 100px;
  // height: 100%;
  background-color: $color6;
  color: $color4;
  padding: 3rem 0;
  padding-left: $p;
  display: grid;
  grid-template-columns: 10fr 3fr 1fr;
  align-items: center;
  justify-items: center;
  text-align: center;

  >div {
    width: 100%;
    border-left: 2px solid $color4;
    border-right: 2px solid $color4;

    >a {

      border-radius: 50%;
      box-shadow: 0 0 20px $N;

      >img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: contain;

      }

    }

    >h3 {
      margin: 1rem;
      color: $color1;

      >svg {
        margin-left: 0.6rem;
        color: red;
        animation: zoom-in-zoom-out 1.2s infinite alternate;
        ;
      }
    }

    >h2 {
      margin: 1rem;
      color: $N;
    }

    >p {
      font: 400 1.2rem $text2;
    }

    >h4 {
      margin: 1rem;
    }
  }

  >aside>article {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    svg {
      font-size: 2rem;
      color: $color4;

      &:hover {
        color: $N;
      }
    }
  }

  >a {
    width: 50px;
    height: 50px;
    background-color: #333;
    border-radius: 50%;
    display: grid;
    place-items: center;

    svg {
      animation: upupdowndown 0.7s infinite linear alternate;
      font-size: 2rem;
      color: $N;
    }
  }
}