$text1: "Roboto", sans-serif;
$text2: "Open Sans", sans-serif;



$N:#0ef;
$n:rgba(0, 255, 255, 0.76);
$n_1:rgba(30, 173, 173, 0.76);

// $bg:;
$bg_1:#1f242d;
$bg_2:#323946;

$color1: #fef2f2;
$color2: #286f6c;
$color2_1: #174340;
$color3: rgb(242, 100, 64);
$color3_l: rgb(249, 141, 141);
$color3_1: rgb(173, 65, 38);
$color4: #fff;
$color5: #292b46;
$color6: #161616;
$color6_1: #16161698;
$color6_2: #16161622;

$p: 13.33vmax;
$p_md: 7vmax;
$p_base: 5vmax;
$p_base_inverse: 15vmax 10vmax;
$p_sm: 2vmax;
$p_sm_inverse: 13vmax 0;
$p_zero: 0;